@using RealEstate.Core.Application.ViewModels.User
@model List<UserViewModel>


<div class="row">
    <div class="col-8 mx-auto">

        @if (Model == null || Model.Count == 0)
        {
            <h2>No existen agentes</h2>
        }
        else
        {
            
        }
    </div>

</div>