@using RealEstate.Core.Application.ViewModels.User
@model LoginViewModel

<div class="row">
    <div class="col-4 mx-auto bg-light rounded-3 shadow p-5 mt-5">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @if (Model.HasError)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p>@Model.Error</p>
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form method="post" asp-controller="User" asp-action="Index" class="d-flex flex-column justify-content-center gap-4">
            <div class="d-flex justify-content-center align-items-center">
                <h3 class="text-muted text-center w-100">
                    Login
                </h3>
            </div>
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" placeholder="vicdiaz@gmail.com">
                    <label asp-for="Email">Correo</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" asp-for="Password" placeholder="*****">
                    <label asp-for="Password">Contraseña</label>
                </div>
                <div class="form-group mt-5">
                    <button type="submit" class="btn btn-primary btn-lg w-100">Acceder</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Advertencia
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Atención!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                El usuario ya se encuentra logueado
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

