@using RealEstate.Core.Application.ViewModels.SaleType
@model SaleTypeSaveViewModel

<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-danger text-light">
                <h4 class="text-center">
                    ¿Está seguro que desea eliminar este
                    tipo de venta y las propiedades asociadas?
                </h4>
            </div>
            <div class="card-body bg-light">

                <form method="post" asp-controller="SaleType" asp-action="Delete">
                    <div class="form-group">
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger me-3">Eliminar</button>
                        <a asp-controller="SaleType" asp-action="Index" class="btn btn-success">Cancelar</a>
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>